APP_ENV=local
APP_DEBUG=true

DB_HOST=db
DB_PORT=5432
DB_DATABASE=notifications
DB_USERNAME=notify_user
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/notifications
RABBITMQ_USER=notify_user
RABBITMQ_PASSWORD=secret
RABBITMQ_QUEUE=notifications_queue

HTTP_PORT=8080
IDEMPOTENCY_TTL_SECONDS=3600

MOCK_SMS_FAILURE_RATE=10
MOCK_EMAIL_FAILURE_RATE=5

MAX_RETRIES=3
